* {
  font-family: 'Mitr';
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-decoration: none;
  color: white;
  overflow-x: hidden;
}


body {
  background-color: #6E5C62;

}

.overflowHidden {
  height: 100vh;
  overflow: hidden;
}

.TutorialWrapper {
  background: rgba(0, 0, 0, 0.5);
  display: none;
}
.TutorialAtivo {
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
}
.TutorialCard {
  width: 100%;
  max-width: 60%;
  height: 80vh;
  margin: 2rem auto;
  padding: 2rem;
  background: #6E5C62;
  position: relative;
  border-radius: 10px;
}

.spanWrapper {
  display: flex;
  align-items: center;
  gap: 0.2rem;
}

.spanletra {
  font-size: 1.2rem;
  width: 42px;
  text-align: center;
  font-weight: 600;
  border-radius: 10%;
  border: 4px solid rgba(0, 0, 0, 0.5);
}

.wrap {
  margin: 1rem 0;
  display: flex;
  max-width: 330px;
  font-size: 0.8rem;
}

.menuDinamico {
  width: 100vw;
  background-color: #222222;
  font-size: 1.5rem;
  font-weight: normal;
  display: flex;
  gap: 1rem;
  padding: 1.4rem 1rem;
  transition: 0.8s ease-in-out;
  position: fixed;
  top: -30%;
}

.app-container {
  width: 100%;
  padding: 1rem 0;
  transition: 0.8s ease-in-out;
}

.containerAtivo {
  margin-top: 5rem;
}

.menuAtivo {
  top: 0;
  position: absolute;
}

.navAtiva  {
  transform: rotate(180deg);
}

.replay {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  margin-bottom: 1rem;
}

.replayBtn {
  text-decoration: underline;
  border: none;
  cursor: pointer;
  font-size: 1rem;
}



/* HEADER */

.app-header {
  font-family: 'Mitr';
  color: white;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin: 0 auto;
  text-align: center;
  margin-bottom: 1rem;
}

.menu {
  display: flex;
  gap: 0.2rem;
  cursor: pointer;
  overflow: hidden;
}

.menu-span {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  border: 1px solid #B7AEB4;
  border-radius: 10%;
}

.menu-span img {
  padding: 0.2rem;
}

.menu-spanNav {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  border: 1px solid #B7AEB4;
  border-radius: 10%;
  transition: 0.8s ease-in-out;
}

/* TERMO */

.row {
  display: flex;
  align-items: center;
  justify-content: center;
}

.backspace {
  min-width: 100px;
  height: 52px;
  border-radius: 5px;
  text-align: center;
  border: none;
  background-color: #4c4347;
  margin: 0.3rem;
  padding: 0.7rem;
  cursor: pointer;
  color: white;
}

.enter {
  min-width: 100px;
  height: 52px;
  color: white;
  border-radius: 5px;
  text-align: center;
  border: 1px solid black;
  margin: 0.3rem;
  padding: 0.7rem;
  cursor: pointer;
  border: none;
  background-color: #4c4347;
}



.tecla {
  max-width: 100%;
  min-width: 50px;
  padding: 0.7rem;
  margin: 0.1rem;
  border-radius: 10%;
  text-align: center;
  background-color: #4c4347;
  color: white;
  cursor: pointer;
  font-weight: 600;
  font-size: 1.2rem;
}



.app-game {
  margin: 0 auto;
  width: 330px;
  color: white;
  margin-bottom: 1rem;
}

.app-game2 {
  min-width: 330px;
  color: white;
}

.app-gameQ {
  max-width: 330px;
  min-width: 243px;
  color: white;
}


.linha {
  display: flex;
  margin: 0 auto;
}


.coluna,.colunaD,.coluna2,.coluna3,.coluna4 {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.8rem;
  min-width: 42px;
  min-height: 65px;
  border-radius: 10%;
  border: 4px solid rgba(0, 0, 0, 0.5);
  margin: .1rem;
  font-weight: 600;
}
.app-gameQ .coluna,.coluna2,.coluna3,.coluna4 {
  justify-content: center;
  font-size: 1rem;
  min-height: 42px;
}

.digitando,.digitandoD,.digitando2,.digitando3,.digitando4 {
  background-color: #6e5c62;
}

.desativada,.desativadaD,.desativada2,.desativada3,.desativada4 {
  background-color: #312a2c;
}

.correto {
  background-color: green;
}

.errado {
  background-color: #312a2c;
}

.posicaoErrada {
  background-color: #d3ad69;
}

/* DUETO */

.dueto {
  display: flex;
  justify-content: center;
  gap: 1rem;
  margin: 0 auto 1rem auto;
}

.quarteto {
  display: flex;
  justify-content: space-around;
  margin-bottom: 1rem;
}

.teste {
  background-color: red;
  margin: 0 auto;
}

@media (max-width: 500px)
{
  .tecla {
    min-width: 26px;
   }
   .dueto {
    flex-direction: column;
    align-items: center;
   }
   .app-game2 {
    min-width: 330px;
   }
   .quarteto {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 0.5rem;
   }
}